<app-navbar></app-navbar>
<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }
</style>

<style type="text/css">
  .log1 {
    padding-top: 13%;
  }

  .input-group-addon {
    box-shadow: 9px 8px 7px #001a33;

  }
</style>

<div class="row " style="padding-top: 2%; padding-bottom:2%;

background: url(assets/files/wall.jpg) no-repeat center center;
background-attachment: fixed;
background-size: cover;width:100%;
  height: auto;">

  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body input-group-addon grad ">
        <form name="userForm">
          <h2 *ngIf="!form.data.id>0" class="text-primary font-weight-bold" style="text-align: center;">{{'Add order' |
            translate }}</h2>
          <h2 *ngIf="form.data.id>0" class="text-primary font-weight-bold" style="text-align: center;">{{'Update order'
            |
            translate }}</h2>


          <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>

          <div *ngIf="form.error && form.message != null" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>

          <div>
            <span class="pt-2"><b>{{'OrderName' | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope grey-text"></i> </div>
                </div>
                <input type="text" name="orderName" [(ngModel)]="form.data.orderName" class="form-control"
                  placeholder="{{'Enter orderName'  | translate }}">
              </div>
            </div><span *ngIf="form.inputerror.orderName != null" class="alertRedColor" style=" color: red;">
              {{form.inputerror.orderName}} </span>
            <!-- <span class="alertRedColor"> {{form.inputerror.loginId}} </span> -->
          </div>

          <div>
            <span class="pt-2"><b>{{'OrderId' | translate }}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user-circle grey-text"></i> </div>
                </div>
                <input type="text" name="orderId" [(ngModel)]="form.data.orderId" class="form-control"
                  placeholder="{{'Enter orderId'  | translate }}">
              </div>
            </div><span *ngIf="form.inputerror.orderId != null" class="alertRedColor" style=" color: red;">
              {{form.inputerror.orderId}} </span>
            <!-- <span class="alertRedColor"> {{form.inputerror.firstName}} </span> -->
          </div>

          <div>
            <span class="pt-2"><b>{{'OrderQuantity' | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-key grey-text"></i> </div>
                </div>
                <input type="text" name="orderQuantity" [(ngModel)]="form.data.orderQuantity" class="form-control"
                  placeholder="{{'orderQuantity'  | translate }}">
              </div>
            </div><span *ngIf="form.inputerror.orderQuantity != null" class="alertRedColor" style=" color: red;">
              {{form.inputerror.orderQuantity}} </span>
            <!-- <span class="alertRedColor"> {{form.inputerror.password}} </span> -->
          </div>

          <div>
            <span class="pt-2"><b>{{'OrderAddress' | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-phone grey-text"></i> </div>
                </div>
                <input type="text" name="orderAddress" maxlength="10" [(ngModel)]="form.data.orderAddress"
                  class="form-control" placeholder="{{'Enter orderAddress' | translate}}">
              </div>
            </div><span *ngIf="form.inputerror.orderAddress != null" class="alertRedColor" style=" color: red;">
              {{form.inputerror.orderAddress}} </span>
            <!-- <span class="alertRedColor"> {{form.inputerror.phone}} </span> -->
          </div>

          <div>
            <span class="pt-2"><b>{{'OrderAmount' | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-mobile grey-text"></i> </div>
                </div>
                <input type="text" name="orderAmount" maxlength="10" [(ngModel)]="form.data.orderAmount"
                  class="form-control" placeholder="{{'Enter OrderAmount' | translate}}">
              </div>
            </div><span *ngIf="form.inputerror.orderAmount != null" class="alertRedColor" style=" color: red;">
              {{form.inputerror.orderAmount}} </span>
          </div>
          <!-- <span class="alertRedColor"> {{form.inputerror.alternateMobile}} </span> -->




          <div class="row pt-2 pl-2 pb-3">

            <div class="col-md-3"></div>


            <div class="pt-2">
              <button *ngIf="!form.data.id>0" (click)="onUpload()" class="btn btn-success mr-2">
                {{'Save' | translate }}</button>
            </div>

            <div class="col-md-1"></div>

            <div class="pt-2">
              <button *ngIf="form.data.id>0" (click)="onUpload()" class="btn btn-success mr-2">
                {{'Update' | translate }}</button>
            </div>
            <div class="pt-2">
              <a class="btn btn-warning mr-1" type="button" [routerLink]="['/orderlist']"
                style="text-decoration: none; color: white;">{{'List' | translate }}</a>
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>