<app-navbar></app-navbar>
<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(25, 132, 186));
    background-repeat: no repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }
</style>

<style type="text/css">
  .log1 {
    padding-top: 13%;
  }

  .input-group-addon {
    box-shadow: 9px 8px 7px #001a33;

  }
</style>

<div class="row " style="padding-top: 2%; padding-bottom:2%;

background: url(assets/files/wall.jpg) no-repeat center center;
background-attachment: fixed;
background-size: cover;width:100%;
  height: auto;">

  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body input-group-addon grad ">
        <form name="userForm">
          <h2 *ngIf="!form.data.id>0" class="text-primary font-weight-bold" style="text-align: center;">{{'Add Patient'
            |
            translate }}</h2>
          <h2 *ngIf="form.data.id>0" class="text-primary font-weight-bold" style="text-align: center;">{{'Update
            Patient'
            |
            translate }}</h2>


          <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>

          <div *ngIf="form.error && form.message != null" class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{form.message}}
          </div>

          <div>
            <span class="pt-2"><b>{{'Name' | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope grey-text"></i> </div>
                </div>
                <input type="text" name="name" [(ngModel)]="form.data.name" class="form-control"
                  placeholder="{{'Enter name'  | translate }}">
              </div>
            </div><span *ngIf="form.inputerror.name != null" class="alertRedColor" style=" color: red;">
              {{form.inputerror.name}} </span>
            <!-- <span class="alertRedColor"> {{form.inputerror.loginId}} </span> -->
          </div>


          <div>

            <span class="pt-2"><b>{{'DateOfVisit' | translate }}</b>
              <span class="required-field"></span></span>

            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-table grey-text"></i> </div>
                </div>
                <input type="date" name="dateofvisit" [value]="form.data.dateofvisit | date:'dd-MM-yyyy'"
                  (input)="form.data.dateofvisit=parseDate($event.target.value)" class="form-control form-control-sm"
                  required />
              </div>
            </div>
            <span *ngIf="form.inputerror.dateofvisit != null" class="alertRedColor" style=" color: red;">
              {{form.inputerror.dateofvisit}} </span>

          </div>

          <div>
            <span class="pt-2"><b>{{'Mobile' | translate }}</b>
              <span class="required-field"></span></span>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-dollar-sign grey-text"></i> </div>
                </div>
                <input type="number" name="mobile" [(ngModel)]="form.data.mobile" class="form-control"
                  placeholder="{{'Enter mobile'  | translate }}">
              </div>
            </div><span *ngIf="form.inputerror.mobile != null" class="alertRedColor" style=" color: red;">
              {{form.inputerror.mobile}} </span>
            <!-- <span class="alertRedColor"> {{form.inputerror.firstName}} </span> -->
          </div>

          <div>
            <span class="pt-2"><b>{{'Decease Name' | translate }}</b>
              <span class="required-field"></span></span>
            
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i> </div>



                  <select class="form-control" name="decease" [(ngModel)]="form.data.decease" aria-label="ngSelected">
                    <option [ngValue]="" value="undefined">{{' Select Decease' | translate }}</option>

                    <option *ngFor="let obj of form.preload.pList" [value]="obj.value">{{obj.value}}</option>
                  </select>
                </div>
              
              <span *ngIf="form.inputerror.decease != null" class="alertRedColor" style=" color: red;">
                {{form.inputerror.decease}} </span>
              <!-- <span class="alertRedColor"> {{form.inputerror.roleId}} </span> -->
            </div>
          </div>







          <div class="row pt-2 pl-2 pb-3">

            <div class="col-md-3"></div>


            <div class="pt-2">
              <button *ngIf="!form.data.id>0" (click)="onUpload()" class="btn btn-success mr-2">
                {{'Save' | translate }}</button>
            </div>

            <div class="col-md-1"></div>

            <div class="pt-2">
              <button *ngIf="form.data.id>0" (click)="onUpload()" class="btn btn-success mr-2">
                {{'Update' | translate }}</button>
            </div>
            <div class="pt-2">
              <a class="btn btn-warning mr-1" type="button" [routerLink]="['/patientlist']"
                style="text-decoration: none; color: white;">{{'List' | translate }}</a>
            </div>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<p>
</p>